body{
    font-family:'Arial', sans-serif;
}
/* navbar section styles */
#happy-cat{
color: #F6BD60;
font-size: 60px;


}
p{
    color: #0A1045;
}

/*mobile CSS only*/
@media only screen and (max-width: 481 px and ) {
    body {
      background-color: lightblue;
    }
  }
